
*{
  background-color: #B0C4DE;
}
/*foto*/
td{
  position: relative;

}

/*-30%*/
.verde{
  font-size: 25px;
  width: 45px;
  height: 20px;
  padding: 20px;
  background-color: green;
  position: absolute;
  left: 616px;
  top: 0px;
}

/*-5%*/
.rosso{
  font-size: 25px;
  width: 45px;
  height: 20px;
  padding: 20px;
  background-color: red;
  position: absolute;
  left: 616px;
  top: 0px;
}

/*cuore*/
section{
  position: absolute;
  left: 350px;
  top: 670px;
  background-color: white;
}
